.nav-holder{position:relative; }
ul.nav-items img{padding-top:8px; margin: 0 auto; display:block}
.nav-holder * {list-style:none;border:0;padding:0;margin:0;}
.nav-items>li {float:left;width:110px;padding:0px 5px; font-size:14px;text-align: center; border-right:1px solid #00B76D; height:75px;}
.nav-items>li>a{display:block;padding:7px 5px 5px 5px; white-space:nowrap; color:#FFF;height:75px;}
.nav-items>li.dashboard .icon { display: inline-block; vertical-align: middle; position: relative; top:0; width: 15px; height: 19px; margin: 0 5px 0 0; background: url('../images/sprite.png') no-repeat scroll -222px -7px;  float:left;}
.nav-items>li.dashboard.active{float:left;	width:auto;	padding:0 10px 0 15px;font-size: 15px;text-align: center;background:url(../images/home_bg.png) no-repeat;background-size:100% 100%;width:160px;}

.nav-items>li.active{float:left;background:#a6a7a9 !important;text-align:center;padding:0 6px;height: 75px;}
.nav-items>li:hover{background:#00B76D; font-size:14px;}
.nav-items>li.active:hover{background:#a6a7a9 !important;}
.nav-items>li>a.menu-hover{background:url(../images/menu_highlight.png) no-repeat center bottom !important;font-size:14px;}
.nav-holder .sub-nav{position:absolute; width:100%;min-height:10px; background:#f7f7f7; top:75px; display:none;border:1px solid #C1C1C1;	border-top:1px solid #C1C1C1; border-radius:0 0 6px 6px;left:0px; font-size:12px !important; -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.1);box-shadow: 0 3px 10px -5px;}
.menu-hover{display:block !important;}

.sub-nav ul.sector-level{width:25%; margin:0; padding:0;margin-left:0 !important;margin-right:0 !important;}
.sub-nav>ul.sector-level li h3 {line-height:24px !important;}
.sub-nav>ul.sector-level>li{width:100%; padding:5px 10px; float:left !important; text-align:left; line-height:24px; display:block; height:auto; border-right:1px solid #d1d1d1; border-top:0; }
.sub-navSectors>ul.sector-levelSectors>li ul.menuSubLevel2{
	margin-top:10px;
	float:inherit;
	border:0px;
	margin-left:0 !important;
	margin-right:0 !important
}
.sub-navSectors>ul.sector-levelSectors>li ul.menuSubLevel2 li{
    line-height: 16px;
    padding: 5px 0px;
    font-size: 12px;
    color: #00ab67;
    list-style-type: disclosure-closed;
}
.sub-navSectors>ul.sector-levelSectors>li ul.menuSubLevel2 li a{
	color:#484848;
	font-weight:normal;
	font-size:14px;
	text-decoration:underline;
	display: block;
	float:inherit;
}
.sub-navSectors>ul.sector-levelSectors>li ul.menuSubLevel2 li a.levelOneSelectd{
	font-weight:bold;
}
.sub-navSectors>ul.sector-levelSectors>li ul.menuSubLevel2>li ul.menuSubLevel3{	
	float:inherit;
	margin-left:20px;
}
.sub-navSectors>ul.sector-levelSectors>li ul.menuSubLevel2>li ul.menuSubLevel3 li a{	
	color:#00AB67;
}

.sub-navSectors>ul.sector-levelSectors>li{
	float: left;
	margin: 0;
	padding: 5px 10px 20px 50px;
	width: 25%;
	line-height: 20px;
	height: 75px;
	font-size: 14px;
}
.rtl .sub-navSectors>ul.sector-levelSectors>li{
	border-left: none;
	border-right: 1px solid #d3d3d3; 
 }
 .ltr .sub-navSectors>ul.sector-levelSectors>li{
	border-right: 1px solid #d3d3d3; 
 }
.sub-navSectors>ul.sector-levelSectors>li:nth-child(4n+0){
	/*border-right: 0px solid #000;*/
}
.rtl .sub-navSectors>ul.sector-levelSectors>li {
	float: right;
	padding: 5px 50px 20px 10px;
	background-position:96% 5px !important;
}
.rtl .sub-navSectors>ul.sector-levelSectors>li:nth-child(4n+1){
	border-right: none;
}
/*Emirates Logo*/
.sub-navSectors>ul.sector-levelSectors>li.emirateofriyadhprovince {background: url('../images/emiratesSectorsIcon/emirates_riyadh.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateofmakkahprovince {background: url('../images/emiratesSectorsIcon/emirates_makkah.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateofmadinahprovince {background: url('../images/emiratesSectorsIcon/emirates_madinah.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateofeasternprovince {background: url('../images/emiratesSectorsIcon/emirates_eastern.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateofal-jowfprovince {background: url('../images/emiratesSectorsIcon/emirates_jowf.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateofal-baahaprovince {background: url('../images/emiratesSectorsIcon/emirates_baha.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateofaseerprovince {background: url('../images/emiratesSectorsIcon/emirates_asir.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateofal-qasimprovince {background: url('../images/emiratesSectorsIcon/emirates_qasim.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateofhaelprovince {background: url('../images/emiratesSectorsIcon/emirates_hail.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateoftaboukprovince {background: url('../images/emiratesSectorsIcon/emirates_tabuk.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateofnorthernbordersprovince {background: url('../images/emiratesSectorsIcon/emirates_northern.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateofjazanprovince {background: url('../images/emiratesSectorsIcon/emirates_jazan.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.emirateofnajranprovince {background: url('../images/emiratesSectorsIcon/emirates_najran.png') no-repeat 10px 5px;}
/*Emirates Logo ends*/

/*Sectors Logo*/
.sub-navSectors>ul.sector-levelSectors>li.moidiwan{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.civildefence{background: url('../images/emiratesSectorsIcon/civilDefence.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.specialforces{background: url('../images/emiratesSectorsIcon/securityForces.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.investigationoffice{background: url('../images/emiratesSectorsIcon/investigation.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.passports{background: url('../images/emiratesSectorsIcon/passports.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.civilaffairs{background: url('../images/emiratesSectorsIcon/civilAffairs.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.kfsc{background: url('../images/emiratesSectorsIcon/kfsc.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.publicsecurity{background: url('../images/emiratesSectorsIcon/publicSecurity.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.prisons{background: url('../images/emiratesSectorsIcon/prisons.png?v=11') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.nationalinformationcenter {background: url('../images/emiratesSectorsIcon/NIC.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.commandcontainmentandcontrolcenter{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.ideologicalsecurity{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.crimebustingresearchcenter{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}

.sub-navSectors>ul.sector-levelSectors>li.premisessecurity{background: url('../images/emiratesSectorsIcon/premisesecurity.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.environmental_Security{background: url('../images/emiratesSectorsIcon/es.gif') no-repeat 10px 5px;}

.sub-navSectors>ul.sector-levelSectors>li.developmentprojects{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.saudiinterpol{background: url('../images/emiratesSectorsIcon/interpol.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.narcoticscontrol{background: url('../images/emiratesSectorsIcon/narcoticscontrol.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.financialinvestigation{background: url('../images/emiratesSectorsIcon/financialinvestigation.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.borderguards{background: url('../images/emiratesSectorsIcon/borderguards.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.mujahideen{background: url('../images/emiratesSectorsIcon/mujahideen.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.medicalservices{background: url('../images/emiratesSectorsIcon/medicalservices.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.officersclub{background: url('../images/emiratesSectorsIcon/officersclub.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.weaponsdepartment{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.generalsecurityaviationcommand{background: url('../images/emiratesSectorsIcon/securityaviation.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.industrialsecurity{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.crimeresearch{background: url('../images/emiratesSectorsIcon/crimeresearch.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li.sfsp{background: url('../images/emiratesSectorsIcon/sfsp.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
/*Sectors Logo ends*/

.sub-navSectors>ul.sector-levelSectors>li a{
	color:#5e5652;	
	text-align:left;
	font-weight:bold;
	display:block;
}
.rtl .sub-navSectors>ul.sector-levelSectors>li a{
	text-align:right;
	font-size: 13px !important;
}
.nav-holder .sub-navSectors {
	position: absolute;
	width: 100%;
	min-height: 10px;
	background: #f7f7f7 !important;
	top: 75px;
	display: none;
	border: 1px solid #C1C1C1;
	border-top: 1px solid #C1C1C1;
	border-radius: 0 0 6px 6px;
	left: 0px;
	padding: 10px 0 20px 0;
	font-size: 12px !important;
	-webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.1);
	box-shadow: 0 3px 10px -5px;
}

.imgSectorIcn{
	float: left; padding: 0px 10px 20px 10px;
}

/*eServices English Logo*/
.sub-nav>ul.sector-level>li.civilaffairs>h3{font-size:13px;text-align:left; margin-left:5px; padding-left:35px; background: url(../images/eServicesIcon/icon_civilaffairs.png) no-repeat; background-position:left middle; font-weight:bold}
.sub-nav>ul.sector-level>li.passports>h3{font-size:13px;text-align:left; margin-left:5px; padding-left:35px; background: url(../images/eServicesIcon/icon_passports.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.traffic>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_traffic.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.labourimportation>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background:url(../images/eServicesIcon/icon_laborimportation.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.moidiwan>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_moidiwan.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.emirates>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_emirates.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.expatriateaffairs>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_istiqdam.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.publicsecurity>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_publicsecurity.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.electronicmessagesanddocumentssystem>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_electronicmessages.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.authorization>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_authorization.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.moinic>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_moinic.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.applyjobs>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_applyjob.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.jobresult>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_jobresult.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.employmentapplicationadministration>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_employmentappadmin.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.postaldeliveryservice>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_postaldelivery.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.hajjpermit>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_hajjpermit.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.expataffairs>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_common.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.simcardauthentication>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_simcardauthentication.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.servicesplus>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_servicesplus.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.ministryofhousing>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_ministryofhousing.png) no-repeat; background-position:left middle;font-weight:bold}
.sub-nav>ul.sector-level>li.financialinvestigationdepartment>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;background: url(../images/eServicesIcon/icon_financialinvestigationdepartment.png) no-repeat; background-position:left middle;font-weight:bold}

.sub-nav>ul.sector-level>li>h3{font-size:13px; text-align:left; margin-left:5px; padding-left:35px;font-weight:bold;background:url(../images/eServicesIcon/icon_common.png) no-repeat;background-position:left middle;}
.sub-nav>ul.sector-level>li.first{border-top:1px solid #c6c6c6;}

.sub-nav>ul.sector-level>li.menu-hover{background:#A6A7A9 url(../images/expand_arrow.gif) no-repeat 97% 0%; cursor:pointer !important;font-weight:bold;border-right:0px; color:#fff !important}
.sub-nav>ul.sector-level>li>a.menu-hover{background:#FFF; cursor:hand !important;}
.sub-nav>ul.sector-level>li>a{padding:0;color:#fff;}
.sub-nav>ul.sector-level>li a{color:#2f2f2f; font-weight:bold}
.sector-level .sector-sub{position:absolute; width:75%;min-height:300px; height:97% !important; top:0px; display:none !important;left:25%;padding:10px 25px;}
.sector-sub ul.left,.sector-sub ul.right{padding:0;padding-right:1%;margin-left:0 !important;margin-right:0 !important; color: #333333;}
.sector-sub ul.left li:nth-child(even){float:right;}
.sector-sub ul.left li:nth-child(odd){float:left;}
.sector-sub ul.left>li,.sector-sub ul.right>li{width:50%; display:block; text-align:left; padding:5px 0 0 15px; font-weight:normal !important;}
.menu-hover{display:block !important;}
.sector-level .menu-hover{display:block !important;}
.sector-sub ul.left{padding-right:0;margin-left:0 !important;margin-right:0 !important;}

.sector-sub ul.left>li>a,.sector-sub ul.right>li>a{color:#333333;font-weight:normal !important; font-size:13px !important;}
.sector-sub ul.left>li>a:hover,.sector-sub ul.right>li>a:hover{color:#00AB67;font-weight:normal !important; font-size:13px !important;}

/*Expnd Collapse menu*/
div.sector-sub>ul>li.expand:before{content:'\e840'; font-family: "fontello", Tahoma; padding: 0 5px 0 0; font-size:16px; color:#00AB67;}
div.sector-sub>ul>li.collapse:before{content:'\e84a'; font-family: "fontello", Tahoma; padding: 0 5px 0 0; font-size:16px; color:#00AB67;}
div.sector-sub>ul>li.expand>ul.sublvl{display:none !important;margin-left:0 !important;margin-right:0 !important;}
div.sector-sub>ul>li.collapse>ul.sublvl{display:block !important;margin-left:0 !important;margin-right:0; padding-bottom:5px !important;}
ul.sublvl{margin:0px !important; padding:0 !important; float:left; font-size: 12px; width:100%; margin-left:0 !important;margin-right:0 !important;}
ul.sublvl>li{float:left; text-align:left; color:#333333; padding-left:20px;width:100%}
ul.sublvl>li:before{content:'\e846'; font-family:"fontello", Tahoma; font-size:16px; color:#00AB67;   padding: 0 5px;float: left; }
ul.sublvl>li>a{font-size: 12px; text-align:left; display:inline-block;font-weight:normal !important;}
ul.sublvl>li>a:hover{color:#00AB67;}
span.lebelcolor{color:#333333; font-weight:bold;}


.rtl .nav-items{right:10px; left:0;}
.rtl .nav-items>li {float:right;}
.rtl .nav-items>li:first-child {float:right; border-right:0 !important;}
.rtl .nav-items>li.home .icon{float:right;}
.rtl .nav-items>li.dashboard .icon {float:right;}
.rtl .nav-items>li.dashboard.active{float:right;}

.rtl .nav-holder .sub-nav{position:absolute; width:100%;min-height:10px;top:75px; display:none;border:1px solid #C1C1C1;	border-top:1px solid #C1C1C1; border-radius:0 0 6px 6px;right:0px; font-size:12px !important;}
.rtl .sub-nav>ul.sector-level>li{float:right !important; text-align:right; border-left:1px solid #d1d1d1; border-right:inherit;}

/*eServices Arabic Logo*/
.rtl .sub-nav>ul.sector-level>li.civilaffairs>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_civilaffairs.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.passports>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_passports.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.traffic>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_traffic.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.labourimportation>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_laborimportation.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.moidiwan>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_moidiwan.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.emirates>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_emirates.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.expatriateaffairs>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_istiqdam.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.publicsecurity>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_publicsecurity.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.electronicmessagesanddocumentssystem>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_electronicmessages.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.authorization>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_authorization.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.moinic>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_moinic.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.applyjobs>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_applyjob.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.jobresult>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_jobresult.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.employmentapplicationadministration>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_employmentappadmin.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.postaldeliveryservice>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_postaldelivery.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.hajjpermit>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_hajjpermit.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.expataffairs>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_common.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.simcardauthentication>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_simcardauthentication.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.servicesplus>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_servicesplus.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.ministryofhousing>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_ministryofhousing.png) no-repeat;  background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.financialinvestigationdepartment>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px; padding-left:0; background: url(../images/eServicesIcon/icon_financialinvestigationdepartment.png) no-repeat;  background-position: right 0px center;}

.rtl .sub-nav>ul.sector-level>li>h3{text-align:right; margin-right:5px; margin-left:0; padding-right:35px;background:url(../images/eServicesIcon/icon_common.png) no-repeat; background-position: right 0px center;}
.rtl .sub-nav>ul.sector-level>li.menu-hover{border-left:0px; background:#A6A7A9 url(../images/expand_arrow_ar.gif) no-repeat 4% 0%; }
.rtl .sector-level .sector-sub{right:25%; left:auto;}
.rtl .sector-sub ul.left,.rtl .sector-sub ul.right{padding-left:1%; padding-right:0%;margin-left:0 !important;margin-right:0 !important;color: #333333;}
.rtl .sector-sub ul.left>li,.rtl .sector-sub ul.right>li{float:right; text-align:right;padding:5px 15px 3px 0;}
.rtl .sector-sub ul.left{ margin-left:0 !important;margin-right:0 !important; }

/*Expnd Collapse menu*/
.rtl div.sector-sub>ul>li.expand:before{content:'\e83f'; font-family: "fontello", Tahoma; padding: 0 0 0 5px; font-size:16px; color:#00AB67;}
.rtl div.sector-sub>ul>li.collapse:before{padding: 0 0 0 5px;}
.rtl ul.sublvl{float:right;margin-left:0 !important;margin-right:0px !important;}
.rtl ul.sublvl>li{float:right;text-align:right;padding-left:0; padding-right:20px;}
.rtl ul.sublvl>li:before{content:'\e845'; font-family:"fontello", Tahoma; font-size:16px; color:#00AB67; padding: 0 5px; float:right; }
.rtl ul.sublvl>li>a{text-align:right;}
.display-block{display:block !important;}

/*Exception Menu Style*/
.spl-moidiwan{
    position: relative;
    margin-top: 36px;
}
.spl-moidiwan:before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    background: url(../images/emiratesSectorsIcon/common.png) no-repeat;
    left: -40px;
}
.spl-moidiwan a{
    color: #5e5652 !important;
    text-align: left !important;
    font-weight: bold !important;
}
.rtl .spl-moidiwan:before{
	left: auto;
	right: -42px;
}

.rtl .spl-moidiwan a{
    text-align: right !important;
}


/* new sectors menu */

li.sec-col {
    padding: 0 5px !important;
    display: flex;
    background: none !important;
    height: auto !important;
}

.rtl ul.sectorColumn {
    margin: 0 -1px 0 0 !important;
}

.ltr ul.sectorColumn {
    margin: 0 -6px 0 0px !important;
}

.rtl .sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn li {
	float: right;
	background-position:96% 5px !important;
	height: 60px;
    padding: 5px 40px 17px 10px;
    background-position: 96% 5px !important;
}

.ltr .sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn li {
	/*border-right: 1px solid #d3d3d3; */
	padding: 5px 10px 17px 45px;;

 }


.sub-navSectors>ul.sector-levelSectors>li ul.menuSubLevel2 li {
    
    padding: 5px 0px !important;
}

/*Sectors Logo*/
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.moidiwan{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.civildefence{background: url('../images/emiratesSectorsIcon/civilDefence.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.specialforces{background: url('../images/emiratesSectorsIcon/securityForces.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.investigationoffice{background: url('../images/emiratesSectorsIcon/investigation.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.passports{background: url('../images/emiratesSectorsIcon/passports.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.civilaffairs{background: url('../images/emiratesSectorsIcon/civilAffairs.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.kfsc{background: url('../images/emiratesSectorsIcon/kfsc.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.publicsecurity{background: url('../images/emiratesSectorsIcon/publicSecurity.gif') no-repeat 10px 5px; height: 120px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.prisons{background: url('../images/emiratesSectorsIcon/prisons.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.nationalinformationcenter {background: url('../images/emiratesSectorsIcon/NIC.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.commandcontainmentandcontrolcenter{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.ideologicalsecurity{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.crimebustingresearchcenter{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}

.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.premisessecurity{background: url('../images/emiratesSectorsIcon/premisesecurity.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.environmental_Security{background: url('../images/emiratesSectorsIcon/es.gif') no-repeat 10px 5px;}

.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.developmentprojects{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.saudiinterpol{background: url('../images/emiratesSectorsIcon/interpol.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.narcoticscontrol{background: url('../images/emiratesSectorsIcon/narcoticscontrol.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.financialinvestigation{background: url('../images/emiratesSectorsIcon/financialinvestigation.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.borderguards{background: url('../images/emiratesSectorsIcon/borderguards.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.mujahideen{background: url('../images/emiratesSectorsIcon/mujahideen.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.medicalservices{background: url('../images/emiratesSectorsIcon/medicalservices.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.officersclub{background: url('../images/emiratesSectorsIcon/officersclub.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.weaponsdepartment{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.generalsecurityaviationcommand{background: url('../images/emiratesSectorsIcon/securityaviation.gif') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.industrialsecurity{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.crimeresearch{background: url('../images/emiratesSectorsIcon/crimeresearch.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li.sfsp{background: url('../images/emiratesSectorsIcon/sfsp.png') no-repeat 10px 5px;}
.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn>li{background: url('../images/emiratesSectorsIcon/common.png') no-repeat 10px 5px;}
/*Sectors Logo ends*/

.sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn li.publicsecurity ul.menuSubLevel2 li {
    height: 30px;
}

.ltr .sub-navSectors>ul.sector-levelSectors>li ul.sectorColumn li.publicsecurity ul.menuSubLevel2 li {
    height: 35px;
    margin-bottom: 0;
}